<ion-content>
    <div class="admin">
        <img class="img1" src="assets/2.jpg" alt="">
        <p class="line1">Admin User</p>
        <p class="line2">Employee :</p>
        <p class="lin3">System Admin</p>
        <ion-icon style="color: gray;position: relative;top: -110px;left: 361px; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="blocks">

        <ion-card>
            <ion-item>
                <ion-icon style="color: blue;" name="bus"></ion-icon>
                <ion-label style="padding-left: 20px;">Transport</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>


        <ion-card>
            <ion-item>
                <ion-icon style="color: green;" name="checkbox"></ion-icon>
                <ion-label style="padding-left: 20px;">Leave Request</ion-label>
                <p style="font-size: 12px;padding-right: 8px;">Pending 4</p>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>

        <div class="leaves">
            <p style="color: red;font-size: 12px;position: relative;float: right;left: -10px;top: 5px;">APPROVE LEAVES</p>
        </div>


        <ion-card>
            <ion-item>
                <ion-icon style="color: orange;" name="alarm"></ion-icon>
                <ion-label style="padding-left: 20px;">TimeTable</ion-label>
                <p style="font-size: 12px;padding-right: 8px;">No classes</p>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>


        <ion-card>
            <ion-item>
                <ion-icon style="color: purple;" name="today"></ion-icon>
                <ion-label style="padding-left: 20px;">Assignments</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>


        <ion-card>
            <ion-item>
                <ion-icon style="color: purple;" name="bookmarks"></ion-icon>
                <ion-label style="padding-left: 20px;">Assignment Logs</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>


        <ion-card>
            <ion-item>
                <ion-icon style="color: orangered;" name="book"></ion-icon>
                <ion-label style="padding-left: 20px;">Gradebook</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>


        <ion-card>
            <ion-item>
                <ion-icon style="color: blue;" name="apps"></ion-icon>
                <ion-label style="padding-left: 20px;">Gate Management</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon style="color: red;" name="calendar"></ion-icon>
                <ion-label style="padding-left: 20px;">Events</ion-label>
                <p style="font-size: 12px;padding-right: 8px;">3 Events</p>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon style="color: rgb(107, 197, 107);" name="call"></ion-icon>
                <ion-label style="padding-left: 20px;">Announcement</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon style="color: green;" name="checkbox"></ion-icon>
                <ion-label style="padding-left: 20px;">My Leaves</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>

        <ion-card>
            <ion-item>
                <ion-icon style="color: rgb(28, 132, 139);" name="images"></ion-icon>
                <ion-label style="padding-left: 20px;">Gallery</ion-label>
                <ion-icon style="color: gray; font-size: 22px;" name="chevron-forward-outline"></ion-icon>
            </ion-item>
        </ion-card>





    </div>

















</ion-content>